<div class="mx-auto container py-4">
  <h1 class="display-4 text-center">Menu de Cadastro</h1>
</div>

<ul class="list-group">
  <li class="my-2 lead text-center mx-auto w-50 list-group-item justify-content-between align-items-center">
    <a class="" href="#">Cadastrar Administrador</a>
  </li>
  <li class="my-2 lead text-center mx-auto w-50 list-group-item justify-content-between align-items-center">
    <a class="" href="#">Cadastrar Itens de Consumo</a>
  </li>
  <li class="my-2 lead text-center mx-auto w-50 list-group-item justify-content-between align-items-center">
    <a class="" href="#">Cadastrar Itens de Serviço</a>
  </li>
  <li class="my-2 lead text-center mx-auto w-50 list-group-item justify-content-between align-items-center">
    <a class="" href="#">Cadastrar Sala Exclusiva</a>
    <li class="my-2 lead text-center mx-auto w-50 list-group-item justify-content-between align-items-center">
      <a class="" href="#">Cadastrar Sala de Reunião</a>
    </li>
    <li class="my-2 lead text-center mx-auto w-50 list-group-item justify-content-between align-items-center">
      <a class="" href="#">Cadastrar Sala de Treinamento</a>
    </li>
    <li class="my-2 lead text-center mx-auto w-50 list-group-item justify-content-between align-items-center">
      <a class="" href="#">Adicionar Plano</a>
    </li>
</ul>