<div class="mx-auto container py-4">
  <h1 class="display-4 text-center">Administração de salas</h1>
</div>

<div class="mx-auto container-fluid">
  <h2 class="text-left py-4">Salas de Reunião</h2>
</div>
<div class="row align-items-center">
  <div class="col">
    <table class="table">
      <thead>
        <!--Linha de Cabeçalhos-->
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Preço</th>
          <th scope="col">Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <button type="button" class="btn btn-primary btn-lg">
      <i class="fas fa-trash-alt"></i>
      Desmarcar
    </button>
  </div>
</div>

<div class="mx-auto container-fluid">
  <h2 class="text-left py-4">Salas de Treinamento</h2>
</div>
<div class="row align-items-center">
    <div class="col">
      <table class="table">
        <thead>
          <!--Linha de Cabeçalhos-->
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Preço</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-primary btn-lg">
        <i class="fas fa-trash-alt"></i>
        Desmarcar
      </button>
    </div>
  </div>

<div class="mx-auto container-fluid">
  <h2 class="text-left py-4">Salas Exclusivas</h2>
</div>
<div class="row align-items-center">
  <div class="col">
    <table class="table">
      <thead>
        <!--Linha de Cabeçalhos-->
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Preço</th>
          <th scope="col">Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <button type="button" class="btn btn-primary btn-lg">
      <i class="fas fa-trash-alt"></i>
      Desmarcar
    </button>
  </div>
</div>

<div class="component">
  <div class=""></div>
</div>