<nav class="p-2 navbar navbar-expand-lg navbar-light bg-light">
  <a class="px-3 lead navbar-brand" href="#">Cowork</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="lead nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="lead nav-link" href="#">Info</a>
      </li>
      <li class="nav-item">
        <a class="lead nav-link" href="#">Salas</a>
      </li>
    </ul>
    <ul class="navbar-nav my-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-envelope"></i>
          Contate-nos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign out</a>
      </li>
    </ul>
  </div>
</nav>

<div class="mx-auto container py-4">
  <h1 class="display-4 text-center">Menu de Cadastro</h1>
</div>

<ul class="list-group">
  <li class="my-2 lead text-center mx-auto w-50 list-group-item justify-content-between align-items-center">
    <a class="" href="#">Cadastrar Administrador</a>
  </li>
  <li class="my-2 lead text-center mx-auto w-50 list-group-item justify-content-between align-items-center">
    <a class="" href="#">Cadastrar Itens de Consumo</a>
  </li>
  <li class="my-2 lead text-center mx-auto w-50 list-group-item justify-content-between align-items-center">
    <a class="" href="#">Cadastrar Itens de Serviço</a>
  </li>
  <li class="my-2 lead text-center mx-auto w-50 list-group-item justify-content-between align-items-center">
    <a class="" href="#">Cadastrar Sala Exclusiva</a>
    <li class="my-2 lead text-center mx-auto w-50 list-group-item justify-content-between align-items-center">
      <a class="" href="#">Cadastrar Sala de Reunião</a>
    </li>
    <li class="my-2 lead text-center mx-auto w-50 list-group-item justify-content-between align-items-center">
      <a class="" href="#">Cadastrar Sala de Treinamento</a>
    </li>
    <li class="my-2 lead text-center mx-auto w-50 list-group-item justify-content-between align-items-center">
      <a class="" href="#">Adicionar Plano</a>
    </li>
</ul>